<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-cly1{text-align:left;vertical-align:middle}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-cly1">Link Versione Buggata</th>
    <th class="tg-0lax">Link Issue</th>
    <th class="tg-0lax">Link Fix</th>
    <th class="tg-0lax">Metodo Buggato</th>
    <th class="tg-0lax">Classe Buggata</th>
    <th class="tg-0lax">Classe Android</th>
    <th class="tg-0lax">Activity Buggata</th>
    <th class="tg-0lax">Fragment</th>
    <th class="tg-0lax">View</th>
    <th class="tg-0lax">Classe Android View</th>
    <th class="tg-0lax">Variabili</th>
    <th class="tg-0lax">Valore Default</th>
  </tr>
  <tr>
    <td class="tg-0lax">AntennaPod 1947</td>
    <td class="tg-0lax"><a href="https://github.com/AntennaPod/AntennaPod/tree/1.5.2.0">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/AntennaPod1947.md">Link</a></td>
    <td class="tg-0lax">private boolean restoreFromPreference()</td>
    <td class="tg-0lax">ItemDescriptionFragment</td>
    <td class="tg-0lax">Fragment</td>
    <td class="tg-0lax">MainActivity</td>
    <td class="tg-0lax">ItemDescriptionFragment</td>
    <td class="tg-0lax">WebView</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">Loop Habit Tracker 239</td>
    <td class="tg-0lax"><a href="https://github.com/iSoron/uhabits/issues/239">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/LoopHabitTracker239.md">Link</a></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">AboutActivity ; ShowHabitActivity</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">ScrollView</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">Simple Solitaire 3</td>
    <td class="tg-0lax"><a href="https://github.com/TobiasBielefeld/Simple-Solitaire/issues/3">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/SimpleSolitaire3.md">Link</a></td>
    <td class="tg-0lax">public View onCreateView(LayoutInflater inflater, ViewGroup container, Bundle savedInstanceState)</td>
    <td class="tg-0lax">ChangeLogFragmentLicenseFragment</td>
    <td class="tg-0lax">Fragment ; Fragment</td>
    <td class="tg-0lax">AboutActivity</td>
    <td class="tg-0lax">ChangeLogFragment ; LicenseFragment</td>
    <td class="tg-0lax">ScrollView</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">Sms Backup+ 878</td>
    <td class="tg-0lax"><a href="https://github.com/jberkel/sms-backup-plus/issues/878">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/SmsBackup%2B878.md">Link</a></td>
    <td class="tg-0lax">public Dialog onCreateDialog(Bundle savedInstanceState)</td>
    <td class="tg-0lax">About</td>
    <td class="tg-0lax">BaseFragment</td>
    <td class="tg-0lax">Dialogs</td>
    <td class="tg-0lax">BaseFragment</td>
    <td class="tg-0lax">Webview</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">Conversations 2011</td>
    <td class="tg-0lax"><a href="https://github.com/siacs/Conversations/issues/2011">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/Conversations2011.md">Link</a></td>
    <td class="tg-0lax">protected void onCreate(final Bundle savedInstanceState)public void onSaveInstanceState(final Bundle savedInstanceState)void onBackendConnected()public void run()public void reInit(Conversation conversation)</td>
    <td class="tg-0lax">ConversationActivityConversationFragment</td>
    <td class="tg-0lax">Activity ; Fragment</td>
    <td class="tg-0lax">ConversationActivity</td>
    <td class="tg-0lax">ConversationFragment</td>
    <td class="tg-0lax">ListView</td>
    <td class="tg-0lax">ScrollView</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">K-9 Mail 1720</td>
    <td class="tg-0lax"><a href="https://github.com/k9mail/k-9/issues/1720">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/K-9Mail1720.md">Link</a></td>
    <td class="tg-0lax">public void displayMessageViewContainer( ... )public void onFinishInflate()public void showMessage(Account account, MessageViewInfo messageViewInfo)</td>
    <td class="tg-0lax">MessageContainerView&nbsp;&nbsp;; MessageTopView</td>
    <td class="tg-0lax">LinearLayout</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">MessageTopView</td>
    <td class="tg-0lax">WebView</td>
    <td class="tg-0lax">private float mScrollPercentage;</td>
    <td class="tg-0lax">private float mScrollPercentage=0;</td>
  </tr>
  <tr>
    <td class="tg-0lax">Flym</td>
    <td class="tg-0lax">N/A</td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/Flym.md">Link</a></td>
    <td class="tg-0lax">public float getScrollPercentage()public void setScrollPercentage(float scrollPercentage)</td>
    <td class="tg-0lax">EntryPagerAdapter</td>
    <td class="tg-0lax">PagerAdapter</td>
    <td class="tg-0lax">EntryActivity</td>
    <td class="tg-0lax">EntryFragment</td>
    <td class="tg-0lax">EntryView (custom)</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">private ListView appList;</td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">dns66</td>
    <td class="tg-0lax"><a href="https://github.com/julian-klode/dns66/issues/64">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/DNS66.md">Link</a></td>
    <td class="tg-0lax">public View onCreateView(LayoutInflater inflater, ViewGroup container,Bundle savedInstanceState)</td>
    <td class="tg-0lax">WhiteListFragment</td>
    <td class="tg-0lax">Fragment</td>
    <td class="tg-0lax">MainActivity</td>
    <td class="tg-0lax">WhitelistFragment</td>
    <td class="tg-0lax">ListView</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">MTG Familiar 373</td>
    <td class="tg-0lax"><a href="https://github.com/AEFeinstein/mtg-familiar/issues/373">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/MTGFamiliar373.md">Link</a></td>
    <td class="tg-0lax">public View onCreateView(@NonNull LayoutInflater inflater, ViewGroup container, Bundle savedInstanceState)</td>
    <td class="tg-0lax">HtmlDocFragment</td>
    <td class="tg-0lax">Fragment</td>
    <td class="tg-0lax">FamiliarActivity</td>
    <td class="tg-0lax">HtmlDocFragment</td>
    <td class="tg-0lax">WebView</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">WiFiAnalyzer 36 / 78</td>
    <td class="tg-0lax"><a href="https://github.com/VREMSoftwareDevelopment/WiFiAnalyzer/issues/36">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/WiFiAnalyzer36-78.md">Link</a></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">AboutActivity ; SettingActivity</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">ScrollView</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">AntennaPod 2028</td>
    <td class="tg-0lax"><a href="https://github.com/AntennaPod/AntennaPod/issues/2028">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/AntennaPod2028.md">Link</a></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">PreferenceActivity</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">ListView</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">Loop Habit Tracker 241</td>
    <td class="tg-0lax"><a href="https://github.com/iSoron/uhabits/issues/241">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/LoopHabitTracker241.md">Link</a></td>
    <td class="tg-0lax">public void onResult(int requestCode, int resultCode, Intent data)public void showImportScreen()</td>
    <td class="tg-0lax">MainActivity</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">ListHabitsScreen</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">Dialog</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">AntennaPod 2023a</td>
    <td class="tg-0lax"><a href="https://github.com/AntennaPod/AntennaPod/issues/2023">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/AntennaPod2023.md">Link</a></td>
    <td class="tg-0lax">public void onCreate(Bundle savedInstanceState)</td>
    <td class="tg-0lax">MainActivity</td>
    <td class="tg-0lax">PreferenceFragment</td>
    <td class="tg-0lax">PreferenceActivity</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">DialogFragment</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">Syncthing 804</td>
    <td class="tg-0lax"><a href="https://github.com/syncthing/syncthing-android/issues/804">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/Syncthing804.md">Link</a></td>
    <td class="tg-0lax">private void showBatteryOptimizationDialogIfNecessary()public void onCreate(Bundle savedInstanceState)protected void onSaveInstanceState(Bundle outState)</td>
    <td class="tg-0lax">MainActivity</td>
    <td class="tg-0lax">ThemedAppCompatActivity</td>
    <td class="tg-0lax">MainActivity</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">Dialog</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">Simple Draw 95</td>
    <td class="tg-0lax"><a href="https://github.com/SimpleMobileTools/Simple-Draw/issues/95">Link</a></td>
    <td class="tg-0lax"><a href="https://github.com/stageUnimib/FixApp/blob/master/SimpleDraw95.md">Link</a></td>
    <td class="tg-0lax">onSaveInstanceState(outState: Bundle)onRestoreInstanceState(savedInstanceState: Bundle)</td>
    <td class="tg-0lax">MainActivity</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">MainActivity</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">Canvas</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">private var lastBitmapPath = ""</td>
    <td class="tg-0lax"></td>
  </tr>
</table>